<section class="content" role="main">
    <section class="Main-headerText">Наставничество - это про счастье</section>
    <section class="Main-flexContainer">
            <iframe id="chat" class="Main-chatBot" style="width: 400px; height: 400px;" src='https://webchat.botframework.com/embed/qnawebbottestnikita-bot?s=Ga-tCJBO86c.uCPdugtVxKW1ypElAY83UF6jHNpYy2DfFGM5-nCtJ6g'></iframe>
        <section class="Main-text">
            Проект «Наставничество» - это долгая история дружбы, которая не заканчивается после последнего звонка или
            после
            того, когда ребенок попадает в семью.
        </section>
        <section class="Main-image">
            <img style='height: 100%; width: 100%; object-fit: contain' src="./assets/main1.png">
        </section>
    </section>
    <section class="Main-flexContainer Main-indentTop">
        <section class="Main-image2">
            <img style='height: 100%; width: 100%; object-fit: contain' src="./assets/main4.png">
        </section>
        <section class="Main-info">
            <section class="Main-info-header">
                Проект «Наставничество»
            </section>
            <section class="Main-info-description">
                    «Наставничество» - проект, направленный на индивидуальное сопровождение воспитанников детских домов волонтерами детского благотворительного фонда Солнечный Город. Проект реализуется с августа 2014г.
            </section>
        </section>
    </section>
    <section class="Main-about">
        <section class="Main-about-header">Наставники. Про что это?</section>
        <section class="Main-flexContainer">
            <section class="Main-about-section">
                <section>Про общение</section>
                <section class="Main-about-section-desr">
                    Первое время наставники приходят в детский дом, чтобы просто пообщаться с детьми, поиграть в
                    настольные
                    игры, попить чай и приготовить что-нибудь вкусненькое. Через несколько недель пары начинают
                    проводить
                    выходные в городе.
                </section>
            </section>
            <section class="Main-about-section">
                <section>Про дружбу</section>
                <section class="Main-about-section-desr">
                    В проекте есть пары, которые познакомились 3 года назад. В этом году ребята выпустились из детского
                    дома, сдали экзамены и поступили в колледжи и техникумы. Все это время рядом с ними были Наставники.
                </section>
            </section>
            <section class="Main-about-section">
                <section>Про будущее</section>
                <section class="Main-about-section-desr">
                    На сегодняшний день в проект поступило еще 60 заявок от детей, которые хотят обрести Наставников.
                    Каждый
                    месяц в «Солнечный город» приходят анкеты от потенциальных участников, и мы верим, что пары скоро
                    встретятся и у них получится стать настоящими друзьями.
                </section>
            </section>
        </section>
    </section>
    <section class="Main-flexContainer Main-indentTop Main-infoSection">
        <section class="Main-info2">
            
            <section class="Main-info2-header">
                    Подростки нуждаются в поддержке
            </section>
            <section class="Main-info2-description">
                    У большинства из нас были когда-либо значимые люди: родственники, тренера, руководители, учителя. Эти люди повлияли на наш выбор ценностей, жизненных принципов. Они были для нас примерами, защитниками, советчиками, и просто друзьями. У воспитанников детских домов шанс обрести настоящего друга, который его поддержит и подскажет в трудной ситуации, очень мал.
            </section>
        </section>
        <section class="Main-image3">
            <img style='height: 100%; width: 100%; margin-left: 40%; object-fit: contain' src="./assets/main3.png">
        </section>
    </section>
</section>