<section class="Signup-Container" [formGroup]="form">
    <section class="Signup-Container-Section">
        <mat-form-field>
            <input matInput placeholder="Имя" formControlName="firstName">
        </mat-form-field>
    </section>
    <section class="Signup-Container-Section">
        <mat-form-field>
            <input matInput placeholder="Фамилия" formControlName="lastName">
        </mat-form-field>
    </section>
    <section class="Signup-Container-Section">
        <mat-form-field>
            <input matInput placeholder="Фамилия" formControlName="email">
        </mat-form-field>
    </section>
    <section class="Signup-Container-Section">
        <mat-form-field>
            <input matInput placeholder="Фамилия" formControlName="role">
        </mat-form-field>
    </section>
    <section class="Signup-Container-Section">
        <mat-form-field>
            <input matInput placeholder="Фамилия" formControlName="password">
        </mat-form-field>
    </section>
    <section class="Signup-Container-Section">
        <mat-form-field>
            <input matInput placeholder="Фамилия" formControlName="confirmPassword">
        </mat-form-field>
    </section>
</section>