<div class="mainPageContent">
    <div class="about_content_block">
        <h2>Проект «Наставничество» ДБФ «Солнечный город»</h2>
        <p>Проект «Наставничество» - проект, направленный на индивидуальное сопровождение воспитанников детских домов
            волонтерами детского благотворительного фонда Солнечный Город. Проект реализуется с августа 2014г.</p><img
            class="ui image massive"
            src="http://nastavnik54.ru/assets/about/about_img1-ebc80aaaa7716bfba3d2fa327f4c0f89505b03cff778fba1b8219c4f8ee971e0.jpg"
            alt="About img1 ebc80aaaa7716bfba3d2fa327f4c0f89505b03cff778fba1b8219c4f8ee971e0">
        <h3>ОБОСНОВАНИЕ ПРОЕКТА</h3>
        <p>На данный момент в Новосибирске находится 9 интернатных учреждений. Большинство воспитанников детских домов и
            интернатов – подростки старше 12-и лет.</p>
        <p>Детям-сиротам трудно общаться с людьми вне детского дома, они закомплексованы и стеснительны, привыкли к
            административно-командной форме деятельности. Многим выпускникам интернатов и детских домов свойственны
            черты
            иждивенчества, привычка жить на всем готовом, неграмотность в решении материальных проблем, вопросов
            собственности, экономики, которые касаются их лично.</p><img class="ui image massive"
            src="http://nastavnik54.ru/assets/about/about_img2-acdcb250a8d131d590099e41639cef72ebe9b5069d48218112db043872795ee0.jpg"
            alt="About img2 acdcb250a8d131d590099e41639cef72ebe9b5069d48218112db043872795ee0">
        <p>Когда ребенок выходит из детского дома, он совершенно не приспособлен к жизни: получает квартиру,
            но не может жить один – в детском доме в комнате с ним рядом постоянно находилось четыре-пять человек,
            он не знает, как расходовать деньги, не достаточно разбирается в людях, т.е. имеет малое представление
            о жизни за стенами детского дома. Поэтому детдомовцы часто становятся жертвами мошенников и
            криминальных структур, редко заводят друзей и семью, а от одиночества и непонимания находят утешение в
            алкоголизме, наркомании, противоправных действиях.</p>
        <p>У большинства из нас были когда-либо значимые люди: родственники, тренера, руководители, учителя.
            Эти люди повлияли на наш выбор ценностей, жизненных принципов. Они были для нас примерами, защитниками,
            советчиками, и просто друзьями. У воспитанников детских домов шанс обрести настоящего друга,
            который его поддержит и подскажет в трудной ситуации, очень мал.</p><br>
        <p>Чтобы показать ребенку жизнь за пределами детского дома, фонд «Солнечный город» запустил проект
            «Наставничество»,
            объединяющий неравнодушных взрослых и подростков, нуждающихся в поддержке.</p><img class="ui image massive"
            src="http://nastavnik54.ru/assets/about/about_img3-061a50c7d8efcf85a5b2676aaa83f707abbf24d0b502314f525ebfdca5df9388.jpg"
            alt="About img3 061a50c7d8efcf85a5b2676aaa83f707abbf24d0b502314f525ebfdca5df9388">
        <h3>ОБЪЕКТЫ БЛАГОТВОРИТЕЛЬНОЙ ПОМОЩИ</h3>
        <p>Подростки от 12-и до 18-и лет, проживающие в детских домах г.Новосибирска.</p><br>
        <h3>ЦЕЛИ ПРОЕКТА</h3>
        <ol>
            <li>Помощь детям, оказавшимся в ситуации без попечения родителей в профессиональном самоопределении,
                получение опыта семейно-бытовым навыкам, улучшение внутреннего психологического комфорта и повышение
                самооценки.</li>
            <li>Передача наставниками в максимально комфортной форме своего жизненного опыта, полученных знаний
                детям-сиротам без нарушения личностных границ ребенка и взрослого.</li>
            <li>Социализация и профориентация подростков.</li>
        </ol><br>
        <h3>СРОКИ РЕАЛИЗАЦИИ ПРОЕКТА</h3>
        <p>Долгосрочный</p><img class="ui image massive"
            src="http://nastavnik54.ru/assets/about/about_img4-076c5563daed11697d18797d7efd64a6c6740afa6dace465b432028e99584a88.jpg"
            alt="About img4 076c5563daed11697d18797d7efd64a6c6740afa6dace465b432028e99584a88">
        <h3>ЗАДАЧИ</h3>
        <ol>
            <li>подготовка к самостоятельной жизни детей-сирот, находящихся в интернатах и детских домах, через
                наставничество;</li>
            <li>обучение ребенка навыкам самостоятельной жизни в обществе;</li>
            <li>формирование культурных, духовных&nbsp;и моральных ценностей;</li>
            <li>помощь в развитии своего потенциала и определение жизненных целей, помощь в выборе профессии.</li>
            <li>формирование социальной ответственности у жителей г.Новосибирска.</li>
        </ol><br>
        <h3>НАПРАВЛЕНИЯ РАБОТЫ</h3>
        <ol>
            <li>Выстраивание партнерских отношений между наставниками и работниками детских домов г.Новосибирска.</li>
            <li>Отбор, анкетирование и подготовка наставников – формирование базы волонтеров, готовых стать наставниками
                для детей, проживающих в детских домах.</li>
            <li>Знакомство детей и наставников, выявление наиболее подходящих друг другу пар (по психологическим
                особенностям, интересам и потребностям)</li>
            <li>Долгосрочное общение наставников и детей под кураторством супервизора. Сопровождение наставников
                профессиональными психологами.</li>
            <li>Контрольная срезовая диагностика детей и наставников, сбор обратной связи.</li>
        </ol><br>
        <p>По условиям проекта наставник посещает воспитанника не реже одно раза в неделю. На этих встречах пары
            общаются,
            проводят вместе досуг, помогают делать домашнее задание, передают свой жизненный опыт, служат опорой и
            поддержкой,
            помогают в развитии ребенка, помогают формировать у детей бытовые навыки.</p><img class="ui image massive"
            src="http://nastavnik54.ru/assets/about/about_img5-edd0ac48218d87ba746bb75891053928dff77a84f0f4db08f78562d92c1bbc5c.jpg"
            alt="About img5 edd0ac48218d87ba746bb75891053928dff77a84f0f4db08f78562d92c1bbc5c">
        <h3>ОЖИДАЕМЫЕ РЕЗУЛЬТАТЫ</h3>
        <ul>
            <li>Улучшение внутреннего психологического комфорта подростков;</li>
            <li>Повышение самооценки;</li>
            <li>Улучшение коммуникативных и социальных навыков;</li>
            <li>Более четкие реалистичные представления подростками по поводу выбора своей будущей профессии;</li>
            <li>Сформированное ответственное поведение и самостоятельность.</li>
        </ul><br>
        <div class="aboutBottomBlock"><a href="http://sgdeti.ru/helps/money_help">
            <button mat-raised-button style="margin-right: 50px;">СДЕЛАТЬ ПОЖЕРТВОВАНИЕ</button>
            </a><a href="/questionnaire">
                <button mat-raised-button>ХОЧУ УЧАСТВОВАТЬ</button>
            </a></div><br>
    </div>
</div>