.btnPrimary{
    margin-left: 100px;
}
.btnPrimaryTwo{
    margin-top: 20px;
    margin-left: 100px;
}
.btnPrimaryThree{
    margin-top: 20px;
    margin-left: 100px;
}
.selection{
    margin-top: 100px;
    margin-left: 500px;
}