<section class="Login">
    <h2>Login</h2>
    <form [formGroup]="loginForm">
        <section>
            <mat-form-field>
                <input matInput formControlName="username" placeholder="Имя пользователя"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            </mat-form-field>
        </section>
        <section>
            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Пароль"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            </mat-form-field>
        </section>
        <section>
            <button mat-raised-button class="btn btn-primary" (click)="onSubmit()">Войти</button>
        </section>
        <section>
            <button mat-raised-button class="btn btn-primary" (click)="onReg()">Зарегистрироваться</button>
        </section>
    </form>
</section>